{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Новый робот{% endblock %}

{% block content %}
    <div class="add_robot">
        <h1>Добавление робота</h1>
        <form method="post">
            {# добавляем CSRF-токен для безопасной передачи данных из формы #}
            {% csrf_token %}<br>
            <a href="#name_anchor">Имя процесса</a><br>{{ form.name }}<br><br>
            Описание <br>{{ form.info }}<br><br>
            Почта запуска <br>{{ form.email }}<br><br>
            <button class="btn btn-success" type="submit">Сохранить</button><br>
            {# тип обязательно submit для возможносит отправки post-запроса #}
        </form>
        <br>
        {% if 'неверно' in result_message %}
            <div class="alert alert-danger" role="alert">
                {{ result_message }}
            </div>
        {% endif %}
        {% if 'успешно' in result_message %}
            <div class="alert alert-success" role="alert">
               {{ result_message }}
            </div>
        {% endif %}
        <p id="name_anchor">* имя процесса должно совпадать с именем процесса в оркестраторе</p>
        <p style="width: 100%;"><img src="{% static 'img/robots/ProcessName.png' %}" alt="Имя процесса"></p>
    </div>
{% endblock %}