{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Оркестратор{% endblock %}
{% block content %}
     <div class="add_robot">
        <h2>Данные оркестратора и рабочей почты</h2>
         <br>
        <form method="post">
            {% csrf_token %}
            <p>Организация:  {{ form.client_name }}</p>
            <p><a href="#mail_anchor">Эл. почта UIPath</a>:  {{ form.user }}</p>
            <p><a href="#api_anchor">Ключ клиента</a>: {{ form.user_key }}</p>
            <p><a href="#api_anchor">ID организации</a>: {{ form.org }}</p>
            <p><a href="#api_anchor">Тенант</a>: {{ form.tenant }}</p>
            <p><a href="#api_anchor">ID клиента</a>: {{ form.client_id }}</p>
            <p>Папка: {{ form.folder }}</p>
            <p>Почтовый сервис: {{ form.service }}</p>
            <p>Сервисная почта: {{ form.service_email }}</p>
            <p>Пароль сервисной почты: {{ form.service_password }}</p>
            <p>Имя почтового ящика: {{ form.service_mail_folder }}</p>
            <button class="btn btn-success" type="submit">Сохранить</button><br>
        </form>
        <br>
        <h3 id="mail_anchor">Ввод адреса электронной почты</h3>
        <p>
            Адрес электронной почты, на которую был зарегистрирован Ваш аккаунт в UiPath Authomation Cloud, Вы можете найти, перейдя в настройки аккаунта
        </p>
        <p><img src="{% static 'img/robots/UserAddressPath.png' %}" alt="Почта пользователя"></p>
        <br>
        <h3 id="api_anchor">Ввод ключа клиента, ID организации, тенанта и ID клиента</h3>
        <p>Данные для заполнения этих полей можно найти на вкладке "API access" раздела "Admin"</p>
            <p><img src="{% static 'img/robots/ApiAccessPath.png' %}" alt="Меню API access"></p>
            <p><img src="{% static 'img/robots/ApiAccessWin.png' %}" alt="Окно API access"></p>
    </div>
{% endblock %}