{% extends 'main/layout.html' %}

{% block title %}
    Удаление почты запуска
{% endblock %}

{% block content %}
    <div class="add_robot">
        <h1>Удаление почты запуска</h1>
        <form method="post">
            {% csrf_token %}<br>
            <button class="btn btn-success" type="submit">Подтвердить удаление</button><br>
        </form>
        <br>
        {% if 'неверно' in result_message %}
            <div class="alert alert-danger" role="alert">
                {{ result_message }}
            </div>
        {% endif %}
        {% if 'успешно' in result_message %}
            <div class="alert alert-success" role="alert">
               {{ result_message }}
            </div>
        {% endif %}
    </div>
{% endblock %}