{% extends 'main/layout.html' %}

{% block title %}Почта запуска{% endblock %}

{% block content %}
    <div class="add_robot">
        <h2>Электронный адрес почты запуска</h2>
        <form method="post">
            {# добавляем CSRF-токен для безопасной передачи данных из формы #}
            {% csrf_token %}<br>
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Сохранить</button><br>
            {# тип обязательно submit для возможносит отправки post-запроса #}
        </form>
        <br>
    </div>
{% endblock %}