{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        {% if user.is_authenticated %}
<!--            <a href="{% url 'logout' %}">Выйти</a>-->
            <h2>Вы авторизованы</h2>
        {% else %}
            <h1>Добро пожаловать на наш сайт!</h1>
            <div>
                <a href="{% url 'signup' %}">Зарегистироваться</a>
                <a href="{% url 'login' %}">Войти</a>
            </div>
        {% endif %}
    </div>
{% endblock %}