body {
    background: #defae3;
    height: 100%;
}

aside {
    float: left;
    color: black;
    margin-top: 100px;
    text-align: center;
    width: 100%;
    background: black;
}

main .features_auth {
    float: left;
    color: black;
    margin-top: 100px;
    text-align: center;
    width: 100%;

main .features {
    float: left;
    color: black;
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

main .features form {
    padding-left: 30%;
    padding-right: 30%;
    width: 100%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto;}
main .main_form {width: 40%;}

main .section {
    width: 100%;
}